body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 100%); 
    color: white;
}
/* Ajustes na navbar */
.navbar {
    padding: 20px 0; /* Aumenta a altura do cabeçalho */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 100%); 
    /* Sombra branca */
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
  }
.navbar-nav {
    margin: 0 auto; /* Centraliza os itens do menu */
}


/* Ajuste do tamanho da logo dentro da navbar */
.navbar-brand img {
    max-height: 50px; /* Altura máxima da logo */
    width: auto;      /* Mantém a proporção da largura */
}

/* Centraliza os itens do menu */
.navbar-nav {
    margin: 0 auto;
}

.navbar-brand{
    margin-left: 0;
}

/* Container com conteúdo da página sobre */
.container {
    background-color: black;
    padding: 40px 30px;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
    text-align: left; /* Alinhamento à esquerda */
    margin-top: 60px;
    color: white; /* Cor do texto branca */
    line-height: 1.5; /* Espaçamento entre as linhas */
}

.container h1 {
    margin-bottom: 20px; /* Espaço entre o título e o texto */
    font-size: 28px; /* Tamanho do título */
    font-weight: bold; /* Negrito no título */
}

.container p {
    margin-bottom: 20px; /* Espaço entre os parágrafos */
    font-size: 16px; /* Tamanho do texto */
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}
.btn2 {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s;
    margin-top: 20px;
}

.btn2:hover {
    background-color: #ddd;
}

.btn2:active {
    transform: scale(0.95);
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.5);
}